<div class="banner">

  <div class="content">
    <h1 class="mb-5">Hamburgueria Tradicional<br>Venha Conhecer</h1>
    <a routerLink="menu">Fazer Pedido <i class="bi bi-arrow-right"></i></a>
  </div>

</div>

<div class="container mt-5 mb-5">

  <h1 class="text-center">Como Obter Nossos Produtos</h1>

  <div class="row">
    <div class="col-lg-4 mt- 2">
      <div class="Box">
        <h1>1</h1>
        <p>Selecione Tipo</p>
      </div>

    </div>
    <div class="col-lg-4 mt- 2">
      <div class="Box">
        <h1>2</h1>
        <p>Preenhce os detalhes</p>
      </div>
    </div>

    <div class="col-lg-4 mt- 2">
      <div class="Box">
        <h1>3</h1>
        <p>Entrega do pedido em minutos</p>
      </div>
    </div>

  </div>

</div>


<!-- <div class="container mt-4 mb-4">

  <h1 class="text-center"> Cardapio </h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let fd of foodData; index as i">
      <div class="foodBox" *ngIf="i<=3">
        <img src="{{fd.foodImg}}" />
        <h1>{{fd.foodName}}</h1>
        <p>{{fd.foodPrice | currency:'BLR'}}</p>
      </div>
    </div>
  </div>
  <a routerLink="menu" class="maisopcoes"> + Opções</a>


</div> -->
